<%- include('./partials/header') %>
<%- include('./partials/sidebar') %>

<div class="md:ml-64">
  <% if(allFolders && allFolders.length){ %> <!-- Corrected variable check -->
  <div class="flex flex-wrap gap-4 md:ml-4">
    <% allFolders.forEach(folder => { %> <!-- Loop through all folders -->
    <a href="/folders/<%= folder.id %>" class="flex justify-center items-center p-6 gap-2 shadow-md rounded-md">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M3 6a2 2 0 0 1 2-2h5.532a2 2 0 0 1 1.536.72l1.9 2.28H3V6Zm0 3v10a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9H3Z" clip-rule="evenodd"/>
      </svg>
      <span><%= folder.name %></span>
    </a>
    <% }) %>
  </div>
  <% } %> <!-- Close if statement -->
</div>

<%- include('./partials/footer') %>
